language: python
python:
  - "3.4"
  - "3.3"
  - "2.7"
install:
  - pip install tox-travis python-coveralls

script: tox

after_success:
  - coveralls --config_file .coveragerc
sudo: false
addons:
  apt:
    packages:
      - graphviz