include *.md
include *.txt
include .coveragerc
include LICENSE
include MANIFEST
include pyproject.toml
include noxfile.py

recursive-include transitions *.pyi
recursive-include examples *.ipynb
recursive-include tests *.py
recursive-exclude examples/.ipynb_checkpoints *.ipynb
recursive-include binder *.txt postBuild
