include *.md
include *.txt
include .coveragerc
include .pylintrc
include LICENSE
include MANIFEST
include *.ini
include conftest.py

recursive-include examples *.ipynb
recursive-include tests *.py
recursive-exclude examples/.ipynb_checkpoints *.ipynb
recursive-include binder *.txt postBuild
